<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5p][%d{yyyy-MM-dd HH:mm:ss}] [%thread] %C{1} [%L] %m %n</pattern>
		</encoder>
    </appender>

    <logger name="com.mobon" level="info" />
 
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
